* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-color: white;
}

body {
  width: 100%;
  height: 100%;
  border-radius: 4rem;
  overflow: hidden;
}

#page-container {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 4rem;
  overflow: hidden;
  flex-direction: column;
}

/* Header Styles */

header {
  text-align: center;
  background-color: burlywood;
  left: 0;
  right: 0;
  height: 7rem;
  padding-top: 2rem;
}

header h1 {
  font-size: 2.5rem;
}

/* Footer Styles */

footer {
  /* position: fixed; */
  text-align: center;
  font-style: italic;
  background-color: burlywood;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
  padding-top: 1rem;
}

/* Content Container Styles */

#content-container {
  flex: 1;
  width: 100%;
  background-color: beige;
}

#centered-content-container {
  width: 45rem;
  height: 100%;
  padding: 2rem 4rem;
  margin-left: auto;
  margin-right: auto;
  background-color: palegoldenrod;
}

#content-container p {
  text-align: justify;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

/* Card Container Styles */

#card-container {
  display: flex;
  flex-wrap: wrap;
  width: max-content;
  justify-content: center;
  border-radius: 2rem;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  background-color: beige;
}

/* Button Bar Styles */

.button-bar {
  width: 100%;
  line-height: 2.5rem;
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  overflow: hidden;
}

.button {
  flex: 1;
  text-align: center;
  background-color: burlywood;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.1s;
}

.button:hover {
  background-color: rgb(190, 156, 111);
}

.button:active {
  background-color: burlywood;
}

/* Card Styles */
/* https://www.w3schools.com/howto/howto_css_flip_card.asp */

.card {
  width: 6rem;
  height: 8rem;
  margin: 0 0.5rem;
  border-radius: 1rem;
  perspective: 1000px;
  user-select: none;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid black;
  border-radius: 1rem;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-front {
  background-color: #bbb;
  color: black;
}

.card-back {
  background-color: red;
  color: white;
  transform: rotateY(180deg);
}

.card-inner.relevant .card-back {
  background-color: dodgerblue;
  color: white;
}

.card-front, 
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: inherit;
  font-size: 3rem;
  font-weight: bold;
  line-height: 8rem;
}

.card-inner.clicked {
  outline: 5px solid dodgerblue;
}

.card-inner.flipped {
  transform: rotateY(180deg);
}
